* {
	font-family: 'Lato', sans-serif;
}

header, footer {
	height: 60px;
	background-color: #bac5b5;
	color: #f0f3f1;
	border: 1px solid #f0f3f1;
}

span {
	font-size: 60px;
	color: #bc4434;
}


main {
	margin-top: 80px;
	margin-bottom: 20px;
}

body {
	background-color: #eeefe5;
}

.position-fixed {
	position: fixed;
    top: 0;
    width: 100%;
}

.link-no-style {
	text-decoration: none;
	color: inherit;
}

.title>div>h1 {
	padding-top: 150px;
	font-family: 'Bitter', serif;
	font-size: 70px;
	text-transform: uppercase; 
	margin-bottom:25px;
	color: #bc4434;
}

.title>div>h2 {
	padding: 0px;
	margin: 0px;
	font-family: 'Bitter', serif;
	font-size: 60px;
	text-transform: uppercase; 
	margin-bottom:25px;
	color: #bc4434;
}

.title>div>img {
	margin: 40px;
	padding: 80px;
	overflow:hidden;
    border-radius: 50%;
    width: 250px;
	height: 250px;
}

.icons {
	font-size: 30px;
}

.base-card {
	padding: 30px;
    margin: 20px;
    -webkit-box-shadow: 1px 6px 3px 2px #dedece;
	-moz-box-shadow: 1px 6px 3px 2px #dedece;
	box-shadow: 0px 5px 25px 6px #dedece;
	border: 1px solid #dedece;
	background-image: url("../assets/imgs/cardPattern.png");	
}

.card>h2 {
	font-size: 50px;
	color: #bc4434;
	font-family: 'Jua', sans-serif;
}
.card>p {
	text-align: justify;
	font-size: 30px;
	color: #888888;
}

.p-base {
	width: 650px;
	text-align: justify;
}

.full-height {
	height: 100%;
}

.full-width {
	width: 90%;
}

.image-container {
	width: 50%;
}

.image-container>img {
	max-width: 100%;
	height: auto;
}

.rounded-image {
	border-radius: 8px;
}

.full-height {
	height: 100%;
}

.flex-base {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.flex-row-alternate {
	flex-direction: row-reverse;
}

.flex-center {
	align-items: center;	
}

.flex-column {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.menu-buttons>li, .footer-buttons>li {
	padding-left: 10px;
	padding-right: 10px;
}

.menu-buttons>li>a, .footer-buttons>li>a {
	text-decoration: none;
	color: #f0f3f1;	
	text-transform: uppercase;
	font-family: 'Bitter', serif; 
	font-size: 20px;
}

.menu-buttons>li>a:hover, .footer-buttons>li>a:hover {
    background-color: #bc4434;
    color: #f0f3f1;
    height: 20px;
    border-radius: 3px;

}

.menu-buttons>li>a, .footer-buttons>li>a {
    padding-left: 10px;
    padding-right: 10px;
}


ul.flex-center {
	width: 300px;
}

.no-padding-margin {
	margin: 0;
	padding: 0;
}

.list-no-style {
	list-style: none;
}