* {
	font-family: 'Lato', sans-serif;
}

header, footer {
	height: 60px;
	background-color: #252a30;
	color: #f0f3f1;
}

.rond {
	font-size: 60px;
	color: #0d0d0d;
}

main {
	margin-top: 80px;
	margin-bottom: 20px;
}

body {
	background-image: url("../assets/imgs/bimg.jpg");
	background-attachment: fixed;	
	background-repeat: no-repeat;

}

.position-fixed {
	position: fixed;
    top: 0;
    width: 100%;
}

.link-no-style {
	text-decoration: none;
	color: inherit;
}

.title>div>h1 {
	padding-top: 100px;
	font-family: 'Abril Fatface', cursive;
	font-size: 60px;
	text-transform: uppercase; 
	letter-spacing: 3px;
	margin-bottom:25px;
	color: #21272c;
}

.title>div>h2 {
	padding: 0px;
	margin: 0px;
	padding-bottom: 550px;
	font-family: 'Abril Fatface', cursive;
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom:25px;
	color: #21272c;
}
.icons>li>a {	
	text-decoration: none;
	color: #f0f3f1;	
	text-transform: uppercase;
	font-family: 'Gentium Book Basic', serif;
	font-size: 30px;
}

.icons>li {
	padding-left: 10px;
    padding-right: 10px;
}

.base-card {
	padding: 30px;
	margin: 20px;
	margin-bottom: 120px;
	border: 1px solid #cccccc;
	background-image: url("../assets/imgs/cardPattern.png");
	filter: brightness(96%);
	z-index: -10;	
}

.base-card-title {
	padding: 31px;
	margin: -20px;
	height: 5px;
	background-color: #21272c;
	filter: brightness(96%);
	z-index: -10;	
}

.card>h2 {
	font-size: 35px;
	color: #f0f3f1;
	letter-spacing: 3px;
	font-family: 'Abril Fatface', cursive;
}
.card>p {
	text-align: justify;
	font-size: 30px;
	color: #888888;
	font-family: 'Chivo', sans-serif;
}

.skill>div>h3 {
	color: #23262C;
	font-size: 30px;
	text-decoration: underline;
}

.general, .dev {
	text-align: center;
	width: 650px;
	-webkit-box-shadow: 1px 6px 3px 2px #bfbfbf;
	-moz-box-shadow: 1px 6px 3px 2px #bfbfbf;
	box-shadow: 0px 5px 25px 6px #bfbfbf;
	border: 1px solid #cccccc;
}

.general>h3 {
	font-size: 30px;
	font-family: 'Abril Fatface', cursive;
	letter-spacing: 2px;
	text-decoration: underline;
}

.dev>h3 {
	font-size: 30px;
	font-family: 'Abril Fatface', cursive;
	letter-spacing: 2px;
	text-decoration: underline;
}

.p-base {
	width: 650px;
	text-align: justify;
}

.mail {
	color: #737373;
	size: 20px;
	text-decoration: none;
}

.full-height {
	height: 100%;
}

.full-width {
	width: 85%;
}

.image-container {
	width: 50%;
}

.image-container>img {
	max-width: 100%;
	height: auto;
}

.rounded-image {
	border-radius: 8px;
}

.full-height {
	height: 100%;
}

.flex-base {
	display: flex;
	justify-content: space-around;
}

.flex-row-alternate {
	flex-direction: row-reverse;
}

.flex-center {
	align-items: center;	
}

.flex-column {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-row {
	flex-direction: row;
}

.menu-buttons>li, .footer-buttons>li {
	padding-left: 10px;
	padding-right: 10px;
}

.menu-buttons>li>a, .footer-buttons>li>a {
	text-decoration: none;
	color: #f0f3f1;	
	text-transform: uppercase;
	font-family: 'Gentium Book Basic', serif;
	font-size: 20px;
}

.menu-buttons>li>a:hover, .footer-buttons>li>a:hover {
    background-color: #737373;
    color: #f0f3f1;
    height: 20px;
    border-radius: 3px;

}

.menu-buttons>li>a, .footer-buttons>li>a {
    padding-left: 10px;
    padding-right: 10px;
}


ul.flex-center {
	width: 300px;
}

.no-padding-margin {
	margin: 0;
	padding: 0;
}

.list-no-style {
	list-style: none;
}

.progress {
	overflow: hidden;
	height: 20px;
	background-color: #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	margin-bottom: 20px;
}

.progress-striped .progress-bar {
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-size: 40px 40px;
}

.progress-bar {
	width: 0;
	height: 100%;
	color: #fff;
	text-align: center;
	background-color: #8c8c8c;
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite;
	-moz-animation: progress-bar-stripes 2s linear infinite;
}

@media screen and (max-width: 1670px) {

	.dev {
		width: 500px;
	}

	.general {
		width: 500px;
	}
}

@media screen and (max-width: 1330px) {

	.dev {
		width: 480px;
	}

	.general {
		width: 480px;
	}
}

@media screen and (max-width: 1275px) {
	.skill {
		flex-direction: column;
		align-content: center;
	}
}

@media screen and (max-width: 1096px) {
	.title>div>h1 {
		font-size: 50px;
	}

	.title>div>h2 {
		font-size: 40px;
	}

	.card>h2 {
		font-size: 40px;
	}

	.card>p {
		font-size: 20px;
	}

	.skill>div>h3 {
		font-size: 25px;
	}

	.skill>div>ul>li {
		font-size: 15px;
	}
}

@media screen and (max-width: 915px) {
	.nav-bar {
		display: none;
	}

	.icons {
		margin: auto;
	}

	.icons>li>a {
		font-size: 40px;
	}

	.skill {
		flex-direction: column;
		align-content: center;
	}
}

@media screen and (max-width: 742px) {
	.title>div>h1 {
		font-size: 40px;
	}

	.title>div>h2 {
		font-size: 30px;
	}

	.title>div>img {
		width: 150px;
		height: 150px;
	}

}

@media screen and (max-width: 565px) {
	.title>div>h1 {
		font-size: 25px;
	}

	.title>div>h2 {
		font-size: 15px;
	}

	.title>div>img {
		display: none;
	}

	.card>h2 {
		font-size: 30px;
	}

	.card>p {
		font-size: 15px;
	}
}